.row {
    display: flex;
    flex-direction: row;
}
.cicinka {
    display: flex;
    flex-direction: row;
}
.penis2 {
    margin-left: 100px;
}
.cicinečka2 {
    margin-left: 195px;
}
.kokot {
    display: flex;
    flex-direction: row;
}
.kokotek2 {
    margin-left: 118px;
}
.piča {
    display: flex;
    flex-direction: row;
}
.pičenka2 {
    margin-left: 62px;
}
.čára {
    opacity: 0.6;
    width: 500px;
}
.kárek {
    display: flex;
    flex-direction: row;
}
.káreček2 {
    margin-left: 131px;
}